.bigContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    background-color: #191919;
    border-radius: 24px;
    width: 100%;
    cursor: pointer;
    padding: 10px 20px 20px;
}

.bigContainerActive {
    margin-bottom: 8px;
}

.bigContainer:last-child {
    margin-bottom: 0;
}

.highRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.shopInfo {
    display: flex;
    align-items: center;
}

.edit {
    width: 40px;
    height: 40px;
    background-image: url('../../../../assets/editBtn.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 6px;
}

.shop {
    margin-right: 8px;
    font-weight: 500;
    font-size: 15px;
}

.shopQuantity {
    font-weight: 400;
    font-size: 15px;
    opacity: .5;
}

.lowRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.quantity {
    width: 68px;
    height: 30px;
    background-color: #E2398D;
    border-radius: 16.58px;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changeRow {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    gap: 12px;
}

.inputContainer {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16.58px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    padding: 9.5px 12px;
}

.input {
    background-color: transparent;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none;
    width: 100%;
}

.addButton {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    font-weight: 500;
    width: 157px;
    border-radius: 16.58px;
}

.showCompContainer {
    background-color: rgba(25, 25, 25, 1);
    border-radius: 24px;
    margin-bottom: 16px;
    padding: 14px 0;
}

.showCompText {
    font-weight: 400;
    font-size: 16px;
    color: rgba(226, 57, 141, 1);
    text-wrap: nowrap;
}

.whiteColor {
    background-color: white;
}

.blueColor {
    background-color: rgb(22, 22, 169);
}

.orangeColor {
    background-color: #f86605;
}

.yellowColor {
    background-color: #FFD700;
}

.redColor {
    background-color: red;
}